@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

// padding para la presentacion en responsive

@media screen and (min-width: 760px){
    .txt-pad{
        padding-left: 2rem;
        padding-right: 2rem;
    } 
    .img_principal{
        width: 70%;
        height: 70%;
    }
    
}
// Nombre resaltado
.txt-color{
    color:rgb(194, 148, 62);
}
// Linea de presentacion 
.linea{
    position:relative;
    width: 100%;
}
.linea::before{
    content: "";
    position: absolute;
    bottom: 30%;
    width: inherit;
    border: 1px solid gainsboro;
}
