@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
  font-family: "Montserrat";
}

// Nombre resaltado
.txt-color {
  color: $colorPrincipal;
}
// Linea de presentacion
.linea {
  position: relative;
  width: 100%;
}
.linea::before {
  content: "";
  position: absolute;
  bottom: 30%;
  width: inherit;
  border: 1px solid $colorSecundario;
}
.text_title{
  position:absolute;
  width: 100%;
  top: 15%;
  text-align: center;
  font-size: 7vw;
  color: white;
  text-shadow: 2px 2px black;
}

.quote{
  position:relative;
  font-family: 'Satisfy', cursive;
  font-size: 3vw;
}
.quote::before{
  content:"“";
}
.quote::after{
  content:"”";
}


