.img_principal{
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.img_terapia{
  position: relative;
  width: 100%;
  height: 100vh;
}
.img_contenedor{
    position:relative;
    display: flex;
    justify-content: center;
}

.redes{
    font-size: 25px;
    color: black;
}
.redes:hover{
    color: $colorPrincipal;
}
