.img_principal{
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.redes{
    font-size: 25px;
    color: black;
}
.redes:hover{
    color: rgb(194, 148, 62);
}

.tr_cards{
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}